@model TaskItemModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Create new task</h1>

<form method="post" asp-action="Create" class="form">
    <div>
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="IsCompleted" class="form-label"></label>
        <input type="checkbox" asp-for="IsCompleted"  />
        <span asp-validation-for="IsCompleted"></span>
    </div>

    <button type="submit">Create</button>

</form>